@import'../../scss/main.scss';
*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .bodyRegis{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(left, #7579ff, #b224ef);
    .form{
      background-color: rgba(255,255,255,.95);
      -webkit-box-shadow: 18px 14px 18px 1px rgba(0,0,0,0.56);
      -moz-box-shadow: 18px 14px 18px 1px rgba(0,0,0,0.56);
      box-shadow: 18px 14px 18px 1px rgba(0,0,0,0.56);
      width: 350px;
      // height: 500px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      h1{
        text-align: center;
        padding: 20px 0 10px 0;
      }
      .input_box{
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 10px;
        padding:0 40px;
        // overflow: hidden;
        input{
          // margin:0 40px;
          border:none;
          outline: none;
          width: 100%;
          font-size: 1em;
          // line-height: 20px;
          height: 40px;
          padding-top: 0 5px;
          background: none;
          border-bottom: 1px solid #adadad;
          // position: relative;
          &, label{
            transition: all 0.2s;
            touch-action: manipulation;
          }
          &:placeholder-shown + label{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          &::placeholder{
            visibility: hidden;
            color:rgb(185, 171, 171);
          }
          &:focus::placeholder{
            visibility: visible;
          }
          &:not(:placeholder-shown) + label, &:focus + label{
            color: black;
            transform:  translate(-10px,-20px) scale(.9);
            -webkit-transform:  translate(-10px,-20px) scale(.9);
            -moz-transform:  translate(-10px,-20px) scale(.9);
            -ms-transform:  translate(-10px,-20px) scale(.9);
            -o-transform:  translate(-10px,-20px) scale(.9);
}
          &:hover + label{
            cursor: text;
          }
          &:focus + label{
            color: black;
            transform:  translate(-10px,-20px) scale(.9);
            -webkit-transform:  translate(-10px,-20px) scale(.9);
            -moz-transform:  translate(-10px,-20px) scale(.9);
            -ms-transform:  translate(-10px,-20px) scale(.9);
            -o-transform:  translate(-10px,-20px) scale(.9);
} 
        }
        label{
          position: absolute;
          color: rgb(185, 171, 171);
          top: 10px;
          bottom: 0;
          left: 40px;
          width: 50%;
          transition: 0.2s;
          letter-spacing: 0.05em;
          user-select: none;
        }
      }
      .errText{
        color: red;
        text-align: center;
        padding-top: .5rem;
      }
    }
    
    button{
      padding:10px 30px;
      margin: 20px auto;
      border: none;
      color:white;
      font-weight: 400;
      cursor: pointer;
      justify-items: center;
      display: flex;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      outline: none;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      background: linear-gradient(120deg, #3498db,#8e44ad,#3498db);
      background-size: 200px;
      font-size: 1rem;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-box-shadow: 6px 6px 10px 1px rgba(0,0,0,0.56);
      -moz-box-shadow: 6px 6px 10px 1px rgba(0,0,0,0.56);
      box-shadow: 6px 6px 10px 1px rgba(0,0,0,0.56);

      &:hover{
          background-position: right;
      }
  }
  p{
    text-align: center;
    margin: 20px 0;
    .text_link{
      text-decoration: none;
    }
  }
  }
  @include mediaQueryMax(getBreakpoints("extra-small")){
    .bodyRegis{
      .form{
        overflow-y: auto;
        width: 100vw;
        height: 100vh;
      }
    }
  }