@import "../../scss/main.scss";
.appBarTabs {
  margin-top: 2rem;
  .MuiTabs-root {
    background-color: white !important;
    .MuiTabs-fixed {
      .MuiTabs-flexContainer {
        justify-content: center;
        display: flex;
        background-color: white !important;
        box-shadow: none;
        height: 2rem;
        button {
          color: black;
          font-size: 1.3rem;
          transition: all 0.3s;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          &:hover {
            font-size: 1.7rem;
          }
          &:focus {
            font-size: 1.7rem;
          }

          &.Mui-selected span,
          &.Mui-selected,
          button {
            font-size: 1.7rem;
            cursor: default;
            font-weight: 400;
            color: red;
          }

          &.MuiTab-root {
            text-transform: none !important;
          }
        }
      }

      .MuiTabs-indicator {
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  &.MuiPaper-elevation4 {
    box-shadow: none;
  }
}

.MuiBox-root {
  width: 70%;
  margin: auto;
  padding-top: 0 !important;
  box-sizing: border-box !important;
  .slick-slider {
    position: relative;
    svg.MuiSvgIcon-root.btn_prev {
      position: absolute;
      top: 50%;
      left:-5%;
      transform: translate(-50%, -50%) !important;
      -webkit-transform: translate(-50%, -50%) !important;
      -moz-transform: translate(-50%, -50%) !important;
      -ms-transform: translate(-50%, -50%) !important;
      -o-transform: translate(-50%, -50%) !important;
      display: block;
      color:orangered;
      font-size: 5rem;
      cursor: pointer;
    }
    svg.MuiSvgIcon-root.btn_next {
      transform: translate(50%, -50%) !important;
      -webkit-transform: translate(50%, -50%) !important;
      -moz-transform: translate(50%, -50%) !important;
      -ms-transform: translate(50%, -50%) !important;
      -o-transform: translate(50%, -50%) !important;
      display: block;
      color:orangered;
      font-size: 5rem;
      position: absolute;
      top: 50%;
      right:-5%;
      cursor: pointer;
    }
    .slick-list {
      .slick-track {
        .slick-slide {
          .card {
            box-sizing: border-box;
            padding: 10px;
            width: 100%;
            outline: none;
            &:hover {
              .nameMovie {
                visibility: hidden;
              }
              .flexDate {
                visibility: hidden;
              }
              .btn-ticket {
                visibility: visible !important;
              }
            }
            .imgMovie {
              // padding: 10px;
              position: relative;
              width: 100% !important;
              &:hover {
                .btn-play-bg {
                  opacity: 1;
                }
              }

              img {
                width: 100%;
                height: 300px;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
              }

              .btn-play-bg {
                position: absolute;
                opacity: 0;
                background-color: rgba(0, 0, 0, 0.404);
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                transition: all 0.2s;
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                -ms-transition: all 0.2s;
                -o-transition: all 0.2s;

                .btn-play {
                  z-index: 999;
                  color: white;
                  font-size: 4rem;
                  border: 1.5px solid white;
                  border-radius: 50%;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  -ms-border-radius: 50%;
                  -o-border-radius: 50%;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  -webkit-transform: translate(-50%, -50%);
                  -moz-transform: translate(-50%, -50%);
                  -ms-transform: translate(-50%, -50%);
                  -o-transform: translate(-50%, -50%);
                  cursor: pointer;

                  &:hover {
                    opacity: 0.6;
                  }
                }
              }
            }

            .hiddenButtonMovie {
              position: relative;
              margin-top: 10px;
              height: 80px;
              .nameMovie {
                display: flex;
                justify-content: center;
                font-weight: bold;
                text-align: center;
                // padding: 10px;
                font-size: 1rem;
                height: 2.5rem;
              }
              .flexDate {
                // top: 0;
                // left: 0;
                width: 100%;
                position: absolute;
                display: flex;
                justify-content: space-between;
              }

              .btn-ticket {
                position: absolute;
                top: 0;
                width: 100%;
                left: 0;
                visibility: hidden;
                button {
                  height: 50px;
                  width: 100%;
                  padding: 10px 0;
                  border-radius: 5px;
                  -webkit-border-radius: 5px;
                  -moz-border-radius: 5px;
                  -ms-border-radius: 5px;
                  -o-border-radius: 5px;
                  outline: none;
                  border: none;
                  color: white;
                  background-color: rgb(255, 60, 0);
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
}
.modalTrailer {
  width: 960px;
  height: 515px;
}
@include mediaQueryMax(getBreakpoints("extra-large")) {
  .MuiBox-root {
    width: 80%;
  }
}
@include mediaQueryMax(getBreakpoints("large")) {
  .MuiBox-root {
    width: 100%;
    .slick-slider {
      .btn_prev {
        display: none !important;
      }

      .btn_next {
        display: none !important;
      }
    }
  }
}
@include mediaQueryMax(getBreakpoints("medium")) {
}
@include mediaQueryMax(getBreakpoints("small")) {
  .MuiBox-root {
    width: 100%;
    .slick-slider {
      .slick-list {
        .slick-track {
          .slick-slide {
            .card {
              .imgMovie {
                img {
                  height: 300px;
                }
              }
              .hiddenButtonMovie {
                position: relative;
                margin-top: 10px;
                height: 30px;
                .nameMovie {
                  font-size: 0.9rem !important;
                }
                .flexDate {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
@include mediaQueryMax(getBreakpoints("extra-small")) {
  .MuiBox-root {
    .slick-slider {
      .slick-list {
        .slick-track {
          .slick-slide {
            .card {
              .imgMovie {
                img {
                  height: 200px;
                }
              }
            }
          }
        }
      }
    }
  }
  .appBarTabs {
    .MuiTabs-root {
      .MuiTabs-fixed {
        .MuiTabs-flexContainer {
          button {
            font-size: 1rem;
            &:hover {
              font-size: 1.2rem;
            }
            &:focus {
              font-size: 1.2rem;
            }
            &.Mui-selected span,
            &.Mui-selected,
            button {
              font-size: 1.2rem;
            }
          }
        }
      }
    }

    &.MuiPaper-elevation4 {
      box-shadow: none;
    }
  }
}
