@import "../../scss/main.scss";
.booking_page {
  height: 100vh;
  width: 100%;
  // background-color: orangered;
  .booking {
    width: 100%;
    margin: 0 auto;
    .renderChair {
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
      -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
      -webkit-user-select: none; /* Chrome, Safari, and Opera */
      -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
      text-align: center;
      height: 100vh;
      .headerRender {
        // background-color: yellow;
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        padding: 20px 0;
        .headerLeft {
          .title {
            color: red;
            font-size: 1rem;
            font-weight: 600;
          }
          .content {
            line-height: 2.5rem;
          }
        }
      }
      .seatCaption {
        display: flex;
        align-items: center;
        justify-content: center;
        .normal_Chair {
          width: 20px;
          height: 20px;
          background-color: rgb(136, 135, 135);
          margin: 20px 5px 20px 20px;
        }
        .vip_Chair {
          background-color: orangered !important;
          width: 20px;
          height: 20px;
          margin: 20px 5px 20px 20px;
        }
        .booking_Chair {
          background-color: rgb(136, 135, 135);
          width: 20px;
          height: 20px;
          margin: 20px 5px 20px 20px;
          span {
            font-size: 1rem;
            color: white;
            width: 20px;
            height: 20px;
          }
        }
      }
      .countDownNumber {
        color: red;
        font-size: 2rem;
      }
      img {
        width: 70%;
      }
      .chair {
        width: 2rem;
        height: 2rem;
        border: none;
        border-radius: 10%;
        background-color: rgb(136, 135, 135);
        color: #fff;
        margin: 3px;
        outline: none;
        cursor: pointer;
      }
      .booking_chair {
        background-color: rgb(0, 255, 64) !important;
      }
      .bookingChair {
        cursor: no-drop !important;
        background-color: rgb(233, 233, 233) !important;
        color: #fff;
      }
      .bookingVipChair {
        cursor: no-drop !important;
        background-color: rgb(255, 214, 81) !important;
        color: #fff;
      }
      .vipChair {
        width: 2rem;
        cursor: pointer;
        height: 2rem;
        border: none;
        border-radius: 10%;
        background-color: orangered;
        color: #fff;
        margin: 5px;
        outline: none;
      }
    }
  }
  .grid_right {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    position: relative;
    .movie_info {
      height: 100%;
      padding: 0 30px;
      .price {
        color: rgb(0, 255, 0);
        text-align: center;
        font-size: 2rem;
        padding: 10px;
      }
      .border {
        border-bottom: 1px solid #e4e4e4;
        margin-bottom: 20px;
      }
      .movieName {
        font-size: 1.5rem;
        padding-bottom: 10px;
      }
      .seatName {
        color: red;
        font-weight: 600;
      }
      .address {
        font-size: 1rem;
        line-height: 20px;
      }
    }
    .btn_booking {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 20px;
      width: 100%;
      background-color: orangered;
      color: white;
      border: none;
      outline: none;
      cursor: pointer;
      font-weight: 400;
      font-size: 1.5rem;
    }
  }
}
.classModal {
  text-align: center;
  border: none;
  outline: none;
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
  position: relative;
  img {
    position: relative;
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -o-border-radius: 15px !important;
  }
  .textModal {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 100%;
    h2 {
      font-size: 1.8rem;
    }
    p {
      margin: 10px 0 50px 0;
      // margin-bottom: 50px;
    }
  }
}
@include mediaQueryMax(getBreakpoints("large")) {
  .booking_page {
    // background-color: orangered;
    .booking {
      width: 100%;
      margin: 0 auto;
      .renderChair {
        text-align: center;
        height: 100vh;
        // .renderListChair {        }
        .chair {
          width: 1rem;
          height: 1rem;
          .sttChair{
            display: none !important;
            margin: 3px;
          }
        }
        .vipChair {
          width: 1rem;
          height: 1rem;
          .sttChair{
            display: none !important;
            margin: 3px;
          }
        }
        .seatCaption {
          .normal_Chair {
            width: 1rem;
            height: 1rem;
          }
          .vip_Chair {
            width: 1rem;
            height: 1rem;
          }
          .booking_Chair {
            background-color: #e9e9e9 !important;
            width: 1rem;
            height: 1rem;
            span {
              display: none !important;
            }
          }
        }
      }
    }
    .grid_right {
      background-color: #fff;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      position: relative;
      .movie_info {
        height: 100vh;
        padding: 0 30px;
        .price {
          color: rgb(0, 255, 0);
          text-align: center;
          font-size: 2rem;
          padding: 10px;
        }
        .border {
          border-bottom: 1px solid #e4e4e4;
          margin-bottom: 20px;
        }
        .movieName {
          font-size: 1.5rem;
          padding-bottom: 10px;
        }
        .seatName {
          color: red;
          font-weight: 600;
        }
        .address {
          font-size: 1rem;
          line-height: 20px;
        }
      }
      .btn_booking {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
        width: 100%;
        background-color: orangered;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 400;
        font-size: 1.5rem;
      }
    }
  }
}
@include mediaQueryMax(getBreakpoints("medium")) {
  .booking_page {
    // background-color: orangered;
    .booking {
      width: 100%;
      margin: 0 auto;
      .renderChair {
        text-align: center;
        height: 100vh;
        // .renderListChair {        }
        .chair {
          width: 1rem;
          height: 1rem;
          .sttChair{
            display: none !important;
            margin: 3px;
          }
        }
        .vipChair {
          width: 1rem;
          height: 1rem;
          .sttChair{
            display: none !important;
            margin: 3px;
          }
        }
        .seatCaption {
          .normal_Chair {
            width: 1rem;
            height: 1rem;
          }
          .vip_Chair {
            width: 1rem;
            height: 1rem;
          }
          .booking_Chair {
            background-color: #e9e9e9 !important;
            width: 1rem;
            height: 1rem;
            span {
              display: none !important;
            }
          }
        }
      }
    }
  }
}
@include mediaQueryMax(getBreakpoints("extra-small")) {
  .booking_page {
    // background-color: orangered;
    .booking {
      .renderChair {
        .chair {
          width: .65rem;
          height: .65rem;
          border: none;
          border-radius: 10%;
          background-color: rgb(136, 135, 135);
          color: #fff;
          margin: 1px;
          outline: none;
          cursor: pointer;
        }
        .vipChair {
          width: .65rem;
          cursor: pointer;
          height: .65rem;
          border: none;
          border-radius: 10%;
          background-color: orangered;
          color: #fff;
          margin: 3px;
          outline: none;
        }
        .seatCaption {
          margin-top: 1.5rem;
          .normal_Chair {
            width: .65rem;
            height: .65rem;
            margin: 0 2px;
          }
          .vip_Chair {
            width: .65rem;
            height: .65rem;
            margin: 0 2px;
          }
          .booking_Chair {
            background-color: #e9e9e9 !important;
            width: .65rem;
            height: .65rem;
            margin: 0 2px;
            span {
              display: none !important;
            }
          }
        }
        .headerRender {
          width: 100%;
          .headerLeft {
            .title {
              color: red;
              font-size: 1rem;
              font-weight: 600;
            }
            .content {
              line-height: 2.5rem;
            }
          }
        }
      }
    }
  }
}
