@import "../../scss/main.scss";
.profileTabs {
  height: 100vh;
  // margin-top:20px;
  // width: 80%;
  margin: auto;
  // border: 1px solid black;
  header {
    margin-top: 20px;
    background-color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    color: black;
    box-shadow: none;
  }
  .user_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 2rem;
    .info_left {
      padding: 5px;
    }
    .info_right {
      padding: 5px;
    }
  }
  .table {
    width: 100%;
    border-spacing: 0 2px;
    .thead {
      background-color: rgb(255, 0, 55);
      td {
        padding: 10px 0;
      }
      .mid {
        text-align: center;
      }
    }
    .tbody {
      .mid {
        text-align: center;
      }
      .detail_btn {
        width: 100%;
        border: none;
        outline: none;
        padding: 5px 0;
        background-color: transparent;
        font-weight: 600;
        cursor: pointer;
        &:hover {
          color: rgb(255, 0, 55);
        }
      }
      .item:nth-child(2n) {
        //   background-color: gray;
      }
    }
  }
}
.modalPopup {
  border: none;
  outline: none;
  padding: "20px";
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  table {
    border-spacing: 0;
    width: 400px;
    thead {
      background-color: rgb(255, 0, 55);
      tr{
        td{
          padding: 10px;
          text-align: left;
        }
      }
    }
    tbody {
      background-color: white;
      tr{
        td{
          padding: 2px 10px;
          text-align: left;
        }
      }
    }
  }
}
@include mediaQueryMax(getBreakpoints("extra-small")) {
  .profileTabs {
    header {
      margin-top: 20px;
      background-color: transparent;
      text-align: center;
      display: flex;
      align-items: center;
      color: black;
      box-shadow: none;
    }
    .user_info {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .info_left {
        padding: 0 5px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        p {
          width: 100%;
        }
      }
      .info_right {
        padding: 0 5px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        p {
          width: 100%;
        }
      }
    }

    #simple-tabpanel-1 {
      width: 100%;
      .MuiBox-root {
        margin: 0 !important;
        width: 100%;
        padding: 2px;
        .table {
          width: 100%;
          border-spacing: 0 2px;
          .thead {
            width: 100%;
            background-color: rgb(255, 0, 55);
            td {
              padding: 10px 0;
            }
            .mid {
              text-align: center;
            }
          }
          .tbody {
            .mid {
              text-align: center;
            }
            .detail_btn {
              width: 100%;
              border: none;
              outline: none;
              padding: 5px 0;
              background-color: transparent;
              font-weight: 600;
              cursor: pointer;
              &:hover {
                color: rgb(255, 0, 55);
              }
            }
          }
          .item:nth-child(2n) {
            background-color: rgb(212, 212, 212);
          }
        }
      }
    }
  }
  .modalPopup {
    table {
      width: 100vw;
      thead {
        tr{
          td{
            padding: 10px;
          }
        }
      }
      tbody {
        tr{
          td{
            padding: 2px 0;
          }
        }
      }
    }
  }
}
